.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: min-content;
}

.cart-items > li:first-of-type {
  margin-top: 0;
}

.cart-items > li:last-of-type {
  margin-bottom: 2rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--primary-dark-2);
  border-color: var(--primary-dark-2);
  color: white;
}

.actions .button--alt {
  color: var(--primary-dark);
}

.actions .button {
  background-color: var(--primary-dark);
  color: white;
}

.error {
  text-align: center;
  font-weight: 700;
  font-size: larger;
  color: var(--error-color);
}

.message {
  text-align: center;
  font-weight: 700;
  font-size: larger;
  color: rgba(41, 40, 40, 0.924);
}
