.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  background-color: var(--primary-dark);
  color: white;
  text-shadow: 1px 1px 1px white, 2px 1px 2px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.header > h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

@media screen and (max-width: 600px) {
  .header {
    gap: 1rem;
    padding: 0 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
}
